.main-bg {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.sub-div {
  background-color: #150b3e;
  background-size: cover;
  border-radius: 10px;
  padding: 30px;
  height: 500px;
  width: 400px;
}
.profile {
  display: flex;
}
.profile-div {
  background-color: #c7d2fe;
  color: #7c3aed;
  border-radius: 130px;
  padding: 20px;
  margin-right: 10px;
}
.profile-name {
  color: #d4d2db;
  font-size: 20px;
}
.balance-div {
  display: flex;
  justify-content: space-between;
}
.para {
  font-size: 20px;
  color: #585076;
}
.balance-para {
  font-size: 30px;
  color: #d4d2db;
  margin-top: 3px;
}
.in-rupees {
  color: #585076;
  font-size: 10px;
}
.withdraw-para {
  color: #d4d2db;
  font-size: 25px;
}
.choose-para {
  font-size: 20px;
  color: #d4d2db;
}
.button {
  border-radius: 3px;
  background-color: #382f5a;
  color: #c4c4c4;
  font-size: 20px;
  height: 36px;
  width: 150px;
  border-color: #c4c4c4;
  border-width: 1px;
  margin: 5px;
}

.list-items {
  list-style-type: none;
}
